[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	listworktree = "!f() { git worktree list; test -z \"$1\" || { echo \"---\"; git branch -a | grep -i \"$1\" | head -20; }; }; f \"$@\""
[pull]
	rebase = true
[init]
	defaultBranch = main
[user]
	name = Julio Cesar
	email = hi.pazthor@gmail.com
[core]
	excludesfile = /home/pazthor/Code/dotfiles-omarchy/.config/git/.gitignore_global
